@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body { 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto';
    gap: 20px;
}

.main-container { 
    display: flex; 
    border: 2px solid black;
    height: 60vh;
    width: 60vw;
    justify-content: center;
    align-items: center;
}

.grid-container { 
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr); 
    flex: 1;
    align-self: stretch;
}

.item { 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.item > button { 
    background: white;
    border: none;
    color: black;
    width: 100%;
    height: 100%;
    font-size: 2em;
}

.start {
    border-radius: 10px;
    font-size: 1.25rem;
}

.new-game {
    border-radius: 10px;
    font-size: 1.5em;
}

.game-operations { 
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.title { 
    font-size: 1.5em;
}

.pulsing-red {
    animation: pulse 1s;
    animation-iteration-count: 2.5;
}

@keyframes pulse {
    0% { 
        color: red;
        transform: scale(1);
    }
    50% { 
        color: #ff6666; 
        transform: scale(2);
    } 
    100% { 
        color: red; 
        font-size: 2em;
        transform: scale(1);
    }
}

.score { 
    font-size: 1.25rem;
}
